@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font Cairo */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

* { box-sizing: border-box; }
body { font-family: 'Cairo', ui-sans-serif, system-ui, -apple-system; }
